# Application
APP_NAME='LunchWatch Menu Aggregator API'
APP_VERSION='0.0.1'
APP_PORT='8848'
APP_HOST='127.0.0.1'

# Import cron schedule
IMPORT_CRON='0 4 * * *'

# Log
LOGGING_DIR='logs'
LOGGING_LEVEL='debug'

# Database
DB_CLIENT='pg'
DB_PORT='5432'
DB_HOST='localhost'
DB_NAME='lunchwatch_api'
DB_USER='username'
DB_PASSWORD='password'

# Test Environment
TEST_APP_PORT='9949'
TEST_DB_CLIENT='pg'
TEST_DB_PORT='5432'
TEST_DB_HOST='localhost'
TEST_DB_NAME='lunchwatch_api_test'
TEST_DB_USER='postgres'
TEST_DB_PASSWORD='password'
