{
  'env': {
    'es6': true,
    'node': true,
    'mocha': true
  },
  'extends': 'airbnb-base',
  'rules': {
    'new-cap': ['error', {
      'newIsCap': true,
      'newIsCapExceptionPattern': '^Boom\..',
      'capIsNew': false,
      'capIsNewExceptions': ['Immutable.Map', 'Immutable.Set', 'Immutable.List'],
    }],
  },
}
